
.mainOneCardContainers{
    transition: 500ms;
    position: relative;
}
.mainOne-cart {
    display: none;
    transition: 500ms;
}
.mainOneCardContainers:hover .mainOne-cart{
display: block;
}

.mainOneCardContainers:hover .mainOne-supported-system-icon{
    opacity: 0;
    }

.mainOneColoredText{
    color: blueviolet;
}

.demo{
    position: absolute;
    top: 25%;
    color: white;
    font-size: 25px;
}